/* Välj lämplig selektor och styla det som är angett! Skriv endast här i CSS dokumentet, ändra inte i HTML-dokumentet!*/

/* 1. Ge alla element på sidan en 'box-sizing: border-box;' */


/* 2. <body> elementet ska ha bakgrundsfärg #bdc3c7*/


/* 3. Rubriken <h1> ska ha färg #9b59b6*/


/* 4. Alla underubriker <h2> ska ha en orange färg */


/* 5. Alla <li> element i en ul-lista ska ha blå färg (välj valfri hexadecimal färg)*/


/* 6. Alla p ska ha en gul bakgrundsfärg*/


/* 7. Alla inmatningsfält (input) ska ha en border på '3px solid red'*/


/* 8. Alla element med class 'hello' ska ha en vit bakgrund*/


/* 9. Elementet med id 'special' ska ha en border på '2px solid blue'*/


/* 10. Alla <p> och <div> ska ha färgen svart #000*/


/* 11. Alla  <p> som ligger nästladee (inuti) en div ska ha font-size: 22px*/


/* 12. Ge alla em inuti en paragraf inuti den fjärde div-en med class="forth" en 'text-docration: underline;*/


/* 13. Gör så att <h1> elementet får färgen blå när musen är över elementet (:hover) */


/* 14. Gör så att alla besökta <a> element får färgen grå (:visited) */


/* 15. Alla inmatningsfält (input) av typ 'text' ska ha grå bakgrund */


/* 16. Alla checkboxrutor som är 'checked' ska får en vänstermarginal på 50px (margin-left: 50px) */


/* 17. Ge alla p som är direkta barn till .container en font-weight på 700 */


/* 18. Endast första listelementet i ul-listan ska få färg och font-size: 20px */


/* 19. Ge alla p som kommer direkt efter h2-elementet i den tredje div-en (class="third") en turkos bakgrundsfärg Tips: Adjacent sibling selector*/


/* 20. Ge alla p som kommer efter h2-elementet i den trdje div-en (class="third") en vit färg #fff Tips: General sibling selector*/


/* 21. Ge den andra paragrafen i .contatinern en röd färg  font-size till 32px; (En utmaning...)*/